# This token will be used to add an SSH key to your Github account, so that the
# script is able to read/write to Gratipay repos. Visit https://github.com/settings/tokens
# to create one. Make sure the token has the following permissions: repo, admin:public_key.
github_token: "your_secret_token"

# This token will be used to spin up a droplet to run the payday script on.
digital_ocean_token: "your_secret_token"
